# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# File system files
*.DS_Store

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# example build dirs and binaries
build/
examples/blinky_1/IDEs/Makefile/blinky_1
examples/blinky_2/IDEs/Makefile/blinky_2
examples/blinky_3/IDEs/Makefile/blinky_3
examples/oblique/IDEs/Makefile/oblique
examples/parse_http/IDEs/Makefile/parse_http
examples/platform_test/IDEs/Makefile/platform_test
examples/task_join/IDEs/Makefile/task_join
examples/task_join_wto/IDEs/Makefile/task_join_wto
examples/tower/IDEs/Makefile/tower
examples/wall_clock/IDEs/Makefile/wall_clock
tools/laboratory/i_ching/i_ching_app/i_ching
